@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Sora:wght@100..800&display=swap");
html, body {
  width: 100%;
  height: 100%;
  min-width: 360px;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 640px) {
  html {
    font-size: 58%;
  }
}
body {
  width: 100%;
  min-height: 100%;
  font-size: 1.6rem;
  color: #222;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  padding: 0;
  margin: 0;
  font-family: "Sora", "Noto Sans KR", sans-serif;
}

@media only screen and (max-width: 640px) {
  body {
    font-size: 1.4rem;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: #fff;
  padding: 6rem 0 0 6rem;
  z-index: 10;
}

.main {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: hsl(0, 0%, 6%);
  color: #fff;
}
.main__bg {
  background: conic-gradient(from 180deg at 50% 70%, hsl(0, 0%, 98%) 0deg, #eec32d 72.0000010729deg, #ec4b4b 144.0000021458deg, #709ab9 216.0000085831deg, #4dffbf 288.0000042915deg, hsl(0, 0%, 98%) 1turn);
  width: 100%;
  height: 100vh;
  mask: radial-gradient(circle at 50% 50%, white 2px, transparent 2.5px) 50% 50%/20px 20px, url("https://assets.codepen.io/605876/noise-mask.png") 256px 50%/256px 256px;
  mask-composite: intersect;
  animation: flicker 20s infinite linear;
}
.main__title {
  height: 16.18399vw;
  position: absolute;
  left: 6rem;
  bottom: 6rem;
  animation: outer-left 1s 1s ease both;
}
.main__title-inner {
  display: inline-block;
  font-size: 7vw;
  font-weight: 700;
  animation: inner-left 1s 1s ease both;
}
.main__title-upper, .main__title-lower {
  animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
}
.main__title-lower {
  display: inline-block;
  padding-left: 10rem;
}

.title-upper {
  display: inline-block;
  animation: inner-left 1s 1s ease both, text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title-lower {
  animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.main__title-upper > .title-upper {
  display: inline-block;
}

@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes outer-left {
  from {
    transform: translateX(38%);
  }
  to {
    transform: none;
  }
}
@keyframes inner-left {
  from {
    transform: translateX(-38%);
  }
  to {
    transform: none;
  }
}
@keyframes flicker {
  to {
    mask-position: 50% 50%, 0 50%;
  }
}
nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.7rem;
  position: absolute;
  right: 6rem;
  bottom: 6rem;
  z-index: 10;
  animation: txt-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
}
@keyframes txt-in {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
nav a {
  position: relative;
  font-size: 2.4rem;
  transition: all 0.5s cubic-bezier(0.63, 0.03, 0.21, 1);
}
nav a:hover {
  padding-right: 2rem;
  color: #00ffb4;
}
nav a:hover::before {
  opacity: 1;
}
nav a::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00ffb4;
  opacity: 0;
  transform: translateY(-50%);
  transition: all 0.5s cubic-bezier(0.63, 0.03, 0.21, 1);
}

/* About */
.about {
  background-color: #222;
  color: #fff;
  height: 100vh;
  overflow: hidden;
}
.about__content {
  display: flex;
}
.about__content-image {
  width: 40%;
  height: 100vh;
  position: relative;
}
.about__content-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: grayscale(0.8);
}
.about__content-desc {
  width: 60%;
  height: 100vh;
  padding: 4rem;
  overflow-y: auto;
}
.about__content-desc h3 {
  font-size: 4.6rem;
  font-weight: 600;
  text-transform: uppercase;
}
.about__content-list {
  margin-top: 4rem;
}
.about__content-item {
  margin-bottom: 3.6rem;
}
.about__content-item:nth-child(1) {
  display: flex;
}
.about__content-item:nth-child(1) strong {
  margin-bottom: 0;
}
.about__content-item:nth-child(1) p {
  padding-left: 2rem;
  font-size: 1.4rem;
  font-weight: 300;
}
.about__content-item:nth-child(1) p span {
  color: #999;
  display: inline-block;
  margin-left: 0.6rem;
}
.about__content-item strong {
  display: block;
  color: #00ffb4;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}
.about__content-work li, .about__content-edu li {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 300;
  padding-left: 0.6rem;
  margin-bottom: 1rem;
}
.about__content-work .col-1, .about__content-edu .col-1 {
  color: #999;
  flex-basis: 20%;
}
.about__content-work .col-2, .about__content-edu .col-2 {
  flex-basis: 45%;
}
.about__content-work .col-3, .about__content-edu .col-3 {
  flex-basis: 35%;
}

/* Work */
.work {
  background-color: #fff;
}
.work__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 32rem;
  white-space: nowrap;
}
.work__content-list {
  background: #eee;
  box-shadow: inset 0 0 0 1px #ddd;
  position: relative;
  overflow: hidden;
}
.work__content-gridimg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
}
.work__content-gridinfo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  transition: all 0.8s;
}
.work__content-gridinfo * {
  opacity: 0;
  transition: all 0.8s;
}
.work__content-gridinfo:hover {
  background: rgba(0, 0, 0, 0.8);
}
.work__content-gridinfo:hover * {
  opacity: 0.7;
}
.work__content-gridinfo:hover h3 {
  margin-top: 8rem;
  opacity: 1;
}
.work__content-gridinfo:hover p {
  opacity: 1;
}
.work__content-gridinfo h3 {
  font-size: 2.6rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  margin: 13rem 0 2rem;
  position: relative;
  opacity: 1;
}
.work__content-gridinfo h3::after {
  content: "";
  width: 25px;
  border-top: 4px solid #fff;
  display: block;
  margin: 0 auto;
  margin-top: 2.5rem;
}
.work__content-gridinfo .gridmeta {
  transition-delay: 0.25s;
}
.work__content-gridinfo .gridmeta p {
  display: inline-block;
  font-size: 1.4rem;
  color: #fff;
  margin-right: 1.5rem;
  text-transform: uppercase;
}
.work__content-gridinfo .gridxerpt {
  width: 60%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 25px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  transition-delay: 0.5s;
}
.work__content-gridinfo .gridbtn {
  color: #fff;
  text-decoration: none;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  border-radius: 3rem;
  border: 1px solid #fff;
  display: block;
  overflow: hidden;
  position: relative;
}
.work__content-gridinfo .gridbtn span {
  opacity: 0;
  line-height: 32px;
  display: none;
  transition: opacity 0.8s;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.work__content-gridinfo .gridbtn .icon-plus {
  color: #fff;
  position: absolute;
  left: 28%;
  top: 50%;
}
.work__content-gridinfo .gridbtn .icon-plus::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: currentColor;
}
.work__content-gridinfo .gridbtn .icon-plus::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: currentColor;
  transform: rotate(90deg);
}
.work__content-gridinfo .gridbtn:hover {
  width: 75px;
  background: rgba(0, 0, 0, 0.3);
}
.work__content-gridinfo .gridbtn:hover span {
  opacity: 1;
  display: inline;
}
.work__content-gridinfo .gridbtn:hover i {
  opacity: 0;
  display: none;
}

/* =   popIframe ------------------------------------------------------------*/
#popIframe {
  display: none;
  position: fixed;
  left: 0;
  top: -115%;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: #021813;
}

#popIframe:before {
  content: "";
  position: absolute;
  left: 0;
  top: 130%;
  width: 100%;
  height: 100%;
  background: #00483f;
  transform: skew(0, 5deg);
  transition: top 1.6s;
}

#popIframe.close:before {
  top: 0%;
}

#popIframe .btn_close {
  display: none;
  position: absolute;
  right: 2%;
  top: 0;
  margin: 2% 0 0 0;
  padding: 3% 0 0 0;
  width: 50px;
  height: 50px;
  background: none;
  cursor: pointer;
}

#popIframe .btn_close span {
  position: absolute;
  left: 0;
  top: 50%;
  margin: -1px 0 0 0;
  width: 100%;
  height: 3px;
  text-indent: -99999px;
  background: transparent;
}

#popIframe .btn_close span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #666;
  transform: rotate3d(0, 0, 1, -45deg);
}

#popIframe .btn_close span:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #666;
  transform: rotate3d(0, 0, 1, 45deg);
}

#popIframe .frame {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* pf */
.pf {
  background-color: #fff;
}
.pf__inner {
  max-width: 1320px;
  margin: 0 auto;
}
.pf__intro {
  display: flex;
  padding: 10rem 0 0;
}
.pf__intro-txt {
  width: 50%;
  letter-spacing: -0.04rem;
  padding: 6rem 4rem 6rem 8rem;
}
.pf__intro-txt span {
  color: #999;
  display: block;
  margin-bottom: 0.8rem;
  font-size: 1.8rem;
  font-weight: 300;
}
.pf__intro-txt h3 {
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.pf__intro-txt p {
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.pf__intro-txt a {
  display: inline-block;
  padding: 1.5rem 2.5rem;
  border: 1px solid #222;
  border-radius: 3rem;
  color: #222;
  z-index: 1;
  background: #fff;
  position: relative;
  font-weight: 500;
  font-size: 1.7rem;
  transition: all 250ms;
  overflow: hidden;
}
.pf__intro-txt a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #222;
  z-index: -1;
  transition: all 250ms;
}
.pf__intro-txt a:hover {
  color: #fff;
}
.pf__intro-txt a:hover::before {
  width: 100%;
}
.pf__intro-img {
  width: 50%;
  animation: slideIn 1.5s ease-in-out forwards;
}
.pf__content {
  padding: 10rem;
}
.pf__content-num {
  position: relative;
  font-weight: 800;
  font-size: 14rem;
  margin-bottom: 2rem;
}
.pf__content-num:after {
  display: block;
  color: #222;
  position: absolute;
  bottom: 28px;
  left: 11rem;
  font-size: 3.6rem;
  background: #fff;
}
.pf__content-about {
  margin-bottom: 12rem;
}
.pf__content-about p:first-child:after {
  content: "ABOUT";
}
.pf__content-about-desc {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.4;
}
.pf__content-main {
  margin-bottom: 12rem;
}
.pf__content-main p:after {
  content: "MAIN PAGE";
}
.pf__content-sub p:after {
  content: "SUB PAGE";
}
.pf__content-detail {
  margin-bottom: 12rem;
}
.pf__content-detail p:after {
  content: "DETAIL";
}
.pf__content-video {
  margin-bottom: 12rem;
}
.pf__content-video p:after {
  content: "VIDEO";
}

.btn_goback {
  position: fixed;
  right: 2%;
  top: 0;
  margin: 2% 0 0 0;
  padding: 3% 0 0 0;
  width: 50px;
  height: 50px;
  background: none;
  z-index: 90;
  cursor: pointer;
}
.btn_goback span {
  position: absolute;
  left: 0;
  top: 50%;
  margin: -1px 0 0 0;
  width: 100%;
  height: 3px;
  text-indent: -99999px;
  background: transparent;
}
.btn_goback span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: rotate3d(0, 0, 1, -45deg);
}
.btn_goback span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: rotate3d(0, 0, 1, 45deg);
}

/* contact */
.contact {
  margin: 0;
  width: 100%;
  font-family: inherit;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  background-color: #111;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.contact__bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.contact__bg-circle {
  position: absolute;
  transform: translateY(-10vh);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.contact__bg-circle .circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  mix-blend-mode: screen;
  background-image: radial-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 100%) 10%, hsla(180, 100%, 80%, 0) 56%);
  animation: fade-frames 200ms infinite, scale-frames 2s infinite;
}
.contact .mast {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: #fff;
}
.contact .mast__header {
  padding: 5%;
  text-align: center;
}
.contact .mast__title span {
  animation: letter-glow 0.7s 0s ease both;
}
.contact .mast__title span:nth-child(1) {
  animation-delay: 0.05s;
}
.contact .mast__title span:nth-child(2) {
  animation-delay: 0.1s;
}
.contact .mast__title span:nth-child(3) {
  animation-delay: 0.15s;
}
.contact .mast__title span:nth-child(4) {
  animation-delay: 0.2s;
}
.contact .mast__title span:nth-child(5) {
  animation-delay: 0.25s;
}
.contact .mast__title span:nth-child(6) {
  animation-delay: 0.3s;
}
.contact .mast__title span:nth-child(7) {
  animation-delay: 0.35s;
}
.contact .mast__title span:nth-child(8) {
  animation-delay: 0.4s;
}
.contact .mast__title span:nth-child(9) {
  animation-delay: 0.45s;
}
.contact .mast__title span:nth-child(10) {
  animation-delay: 0.5s;
}
.contact .mast__title span:nth-child(11) {
  animation-delay: 0.55s;
}
.contact .mast__title span:nth-child(12) {
  animation-delay: 0.6s;
}
.contact .mast__title span:nth-child(13) {
  animation-delay: 0.65s;
}
.contact .mast__title span:nth-child(14) {
  animation-delay: 0.7s;
}
.contact .mast__title span:nth-child(15) {
  animation-delay: 0.75s;
}
.contact .mast__title span:nth-child(16) {
  animation-delay: 0.8s;
}
.contact .mast__title span:nth-child(17) {
  animation-delay: 0.85s;
}
.contact .mast__title span:nth-child(18) {
  animation-delay: 0.9s;
}
.contact .mast__title span:nth-child(19) {
  animation-delay: 0.95s;
}
.contact .mast__title span:nth-child(20) {
  animation-delay: 1s;
}
.contact .mast__title span:nth-child(21) {
  animation-delay: 1.05s;
}
.contact .mast__title span:nth-child(22) {
  animation-delay: 1.1s;
}
.contact .mast__title span:nth-child(23) {
  animation-delay: 1.15s;
}
.contact .mast__title span:nth-child(24) {
  animation-delay: 1.2s;
}
.contact .mast__title span:nth-child(25) {
  animation-delay: 1.25s;
}
.contact .mast__text {
  font-family: inherit;
  font-size: 3.8rem;
  font-weight: 700;
  margin: 0 0 0.5em;
  line-height: 1.6;
  white-space: pre;
}
.contact .mast .highlight {
  color: #00ffb4;
}
.contact .mast__text span {
  animation: letter-glow 0.7s 0s ease both;
}
.contact .mast__text span:nth-child(1) {
  animation-delay: 0.05s;
}
.contact .mast__text span:nth-child(2) {
  animation-delay: 0.1s;
}
.contact .mast__text span:nth-child(3) {
  animation-delay: 0.15s;
}
.contact .mast__text span:nth-child(4) {
  animation-delay: 0.2s;
}
.contact .mast__text span:nth-child(5) {
  animation-delay: 0.25s;
}
.contact .mast__text span:nth-child(6) {
  animation-delay: 0.3s;
}
.contact .mast__text span:nth-child(7) {
  animation-delay: 0.35s;
}
.contact .mast__text span:nth-child(8) {
  animation-delay: 0.4s;
}
.contact .mast__text span:nth-child(9) {
  animation-delay: 0.45s;
}
.contact .mast__text span:nth-child(10) {
  animation-delay: 0.5s;
}
.contact .mast__text span:nth-child(11) {
  animation-delay: 0.55s;
}
.contact .mast__text span:nth-child(12) {
  animation-delay: 0.6s;
}
.contact .mast__text span:nth-child(13) {
  animation-delay: 0.65s;
}
.contact .mast__text span:nth-child(14) {
  animation-delay: 0.7s;
}
.contact .mast__text span:nth-child(15) {
  animation-delay: 0.75s;
}
.contact .mast__text span:nth-child(16) {
  animation-delay: 0.8s;
}
.contact .mast__text span:nth-child(17) {
  animation-delay: 0.85s;
}
.contact .mast__text span:nth-child(18) {
  animation-delay: 0.9s;
}
.contact .mast__text span:nth-child(19) {
  animation-delay: 0.95s;
}
.contact .mast__text span:nth-child(20) {
  animation-delay: 1s;
}
.contact .mast__text span:nth-child(21) {
  animation-delay: 1.05s;
}
.contact .mast__text span:nth-child(22) {
  animation-delay: 1.1s;
}
.contact .mast__text span:nth-child(23) {
  animation-delay: 1.15s;
}
.contact .mast__text span:nth-child(24) {
  animation-delay: 1.2s;
}
.contact .mast__text span:nth-child(25) {
  animation-delay: 1.25s;
}
.contact .mast__text span:nth-child(26) {
  animation-delay: 1.3s;
}
.contact .mast__text span:nth-child(27) {
  animation-delay: 1.35s;
}
.contact .mast__text span:nth-child(28) {
  animation-delay: 1.4s;
}
.contact .mast__text span:nth-child(29) {
  animation-delay: 1.45s;
}
.contact .mast__text span:nth-child(30) {
  animation-delay: 1.5s;
}
.contact .mast__text span:nth-child(31) {
  animation-delay: 1.55s;
}
.contact .mast__text span:nth-child(32) {
  animation-delay: 1.6s;
}
.contact .mast__text span:nth-child(33) {
  animation-delay: 1.65s;
}
.contact .mast__text span:nth-child(34) {
  animation-delay: 1.7s;
}
.contact .mast__text span:nth-child(35) {
  animation-delay: 1.75s;
}
.contact .mast__text span:nth-child(36) {
  animation-delay: 1.8s;
}
.contact .mast__text span:nth-child(37) {
  animation-delay: 1.85s;
}
.contact .mast__text span:nth-child(38) {
  animation-delay: 1.9s;
}
.contact .mast__text span:nth-child(39) {
  animation-delay: 1.95s;
}
.contact .mast__text span:nth-child(40) {
  animation-delay: 2s;
}
.contact .mast__text span:nth-child(41) {
  animation-delay: 2.05s;
}
.contact .mast__text span:nth-child(42) {
  animation-delay: 2.1s;
}
.contact .mast__text span:nth-child(43) {
  animation-delay: 2.15s;
}
.contact .mast__text span:nth-child(44) {
  animation-delay: 2.2s;
}
.contact .mast__text span:nth-child(45) {
  animation-delay: 2.25s;
}
.contact .mast__text span:nth-child(46) {
  animation-delay: 2.3s;
}
.contact .mast__text span:nth-child(47) {
  animation-delay: 2.35s;
}
.contact .mast__text span:nth-child(48) {
  animation-delay: 2.4s;
}
.contact .mast__text span:nth-child(49) {
  animation-delay: 2.45s;
}
.contact .mast__text span:nth-child(50) {
  animation-delay: 2.5s;
}
.contact .mast__text span:nth-child(51) {
  animation-delay: 2.55s;
}
.contact .mast__text span:nth-child(52) {
  animation-delay: 2.6s;
}
.contact .mast__text span:nth-child(53) {
  animation-delay: 2.65s;
}
.contact .mast__text span:nth-child(54) {
  animation-delay: 2.7s;
}
.contact .mast__text span:nth-child(55) {
  animation-delay: 2.75s;
}
.contact .mast__text span:nth-child(56) {
  animation-delay: 2.8s;
}
.contact .mast__text span:nth-child(57) {
  animation-delay: 2.85s;
}
.contact .mast__text span:nth-child(58) {
  animation-delay: 2.9s;
}
.contact .mast__text span:nth-child(59) {
  animation-delay: 2.95s;
}
.contact .mast__text span:nth-child(60) {
  animation-delay: 3s;
}
.contact .mast__text span:nth-child(61) {
  animation-delay: 3.05s;
}
.contact .mast__text span:nth-child(62) {
  animation-delay: 3.1s;
}
.contact .mast__text span:nth-child(63) {
  animation-delay: 3.15s;
}
.contact .mast__text span:nth-child(64) {
  animation-delay: 3.2s;
}
.contact .mast__text span:nth-child(65) {
  animation-delay: 3.25s;
}
.contact .mast__text span:nth-child(66) {
  animation-delay: 3.3s;
}
.contact .mast__text span:nth-child(67) {
  animation-delay: 3.35s;
}
.contact .mast__text span:nth-child(68) {
  animation-delay: 3.4s;
}
.contact .mast__text span:nth-child(69) {
  animation-delay: 3.45s;
}
.contact .mast__text span:nth-child(70) {
  animation-delay: 3.5s;
}
.contact .mast__text span:nth-child(71) {
  animation-delay: 3.55s;
}
.contact .mast__text span:nth-child(72) {
  animation-delay: 3.6s;
}
.contact .mast__text span:nth-child(73) {
  animation-delay: 3.65s;
}
.contact .mast__text span:nth-child(74) {
  animation-delay: 3.7s;
}
.contact .mast__text span:nth-child(75) {
  animation-delay: 3.75s;
}
.contact .mast__text span:nth-child(76) {
  animation-delay: 3.8s;
}
.contact .mast__text span:nth-child(77) {
  animation-delay: 3.85s;
}
.contact .mast__text span:nth-child(78) {
  animation-delay: 3.9s;
}
.contact .mast__text span:nth-child(79) {
  animation-delay: 3.95s;
}
.contact .mast__text span:nth-child(80) {
  animation-delay: 4s;
}
.contact .mast__text span:nth-child(81) {
  animation-delay: 4.05s;
}
.contact .mast__text span:nth-child(82) {
  animation-delay: 4.1s;
}
.contact .mast__text span:nth-child(83) {
  animation-delay: 4.15s;
}
.contact .mast__text span:nth-child(84) {
  animation-delay: 4.2s;
}
.contact .mast__text span:nth-child(85) {
  animation-delay: 4.25s;
}
.contact .mast__text span:nth-child(86) {
  animation-delay: 4.3s;
}
.contact .mast__text span:nth-child(87) {
  animation-delay: 4.35s;
}
.contact .mast__text span:nth-child(88) {
  animation-delay: 4.4s;
}
.contact .mast__text span:nth-child(89) {
  animation-delay: 4.45s;
}
.contact .mast__text span:nth-child(90) {
  animation-delay: 4.5s;
}
.contact .mast__text span:nth-child(91) {
  animation-delay: 4.55s;
}
.contact .mast__text span:nth-child(92) {
  animation-delay: 4.6s;
}
.contact .mast__text span:nth-child(93) {
  animation-delay: 4.65s;
}
.contact .mast__text span:nth-child(94) {
  animation-delay: 4.7s;
}
.contact .mast__text span:nth-child(95) {
  animation-delay: 4.75s;
}
.contact .mast__text span:nth-child(96) {
  animation-delay: 4.8s;
}
.contact .mast__text span:nth-child(97) {
  animation-delay: 4.85s;
}
.contact .mast__text span:nth-child(98) {
  animation-delay: 4.9s;
}
.contact .mast__text span:nth-child(99) {
  animation-delay: 4.95s;
}
.contact .mast__text span:nth-child(100) {
  animation-delay: 5s;
}
.contact .mast__text span:nth-child(101) {
  animation-delay: 5.05s;
}
.contact .mast__text span:nth-child(102) {
  animation-delay: 5.1s;
}
.contact .mast__text span:nth-child(103) {
  animation-delay: 5.15s;
}
.contact .mast__text span:nth-child(104) {
  animation-delay: 5.2s;
}
.contact .mast__text span:nth-child(105) {
  animation-delay: 5.25s;
}
.contact .mast__text span:nth-child(106) {
  animation-delay: 5.3s;
}
.contact .mast__text span:nth-child(107) {
  animation-delay: 5.35s;
}
.contact .mast__text span:nth-child(108) {
  animation-delay: 5.4s;
}
.contact .mast__text span:nth-child(109) {
  animation-delay: 5.45s;
}
.contact .mast__text span:nth-child(110) {
  animation-delay: 5.5s;
}
.contact .mast__text span:nth-child(111) {
  animation-delay: 5.55s;
}
.contact .mast__text span:nth-child(112) {
  animation-delay: 5.6s;
}
.contact .mast__text span:nth-child(113) {
  animation-delay: 5.65s;
}
.contact .mast__text span:nth-child(114) {
  animation-delay: 5.7s;
}
.contact .mast__text span:nth-child(115) {
  animation-delay: 5.75s;
}
.contact .mast__text span:nth-child(116) {
  animation-delay: 5.8s;
}
.contact .mast__text span:nth-child(117) {
  animation-delay: 5.85s;
}
.contact .mast__text span:nth-child(118) {
  animation-delay: 5.9s;
}
.contact .mast__text span:nth-child(119) {
  animation-delay: 5.95s;
}
.contact .mast__text span:nth-child(120) {
  animation-delay: 6s;
}
.contact .mast__text span:nth-child(121) {
  animation-delay: 6.05s;
}
.contact .mast__text span:nth-child(122) {
  animation-delay: 6.1s;
}
.contact .mast__text span:nth-child(123) {
  animation-delay: 6.15s;
}
.contact .mast__text span:nth-child(124) {
  animation-delay: 6.2s;
}
.contact .mast__text span:nth-child(125) {
  animation-delay: 6.25s;
}
.contact .mast__text span:nth-child(126) {
  animation-delay: 6.3s;
}
.contact .mast__text span:nth-child(127) {
  animation-delay: 6.35s;
}
.contact .mast__text span:nth-child(128) {
  animation-delay: 6.4s;
}
.contact .mast__text span:nth-child(129) {
  animation-delay: 6.45s;
}
.contact .mast__text span:nth-child(130) {
  animation-delay: 6.5s;
}
.contact .mast__text span:nth-child(131) {
  animation-delay: 6.55s;
}
.contact .mast__text span:nth-child(132) {
  animation-delay: 6.6s;
}
.contact .mast__text span:nth-child(133) {
  animation-delay: 6.65s;
}
.contact .mast__text span:nth-child(134) {
  animation-delay: 6.7s;
}
.contact .mast__text span:nth-child(135) {
  animation-delay: 6.75s;
}
.contact .mast__text span:nth-child(136) {
  animation-delay: 6.8s;
}
.contact .mast__text span:nth-child(137) {
  animation-delay: 6.85s;
}
.contact .mast__text span:nth-child(138) {
  animation-delay: 6.9s;
}
.contact .mast__text span:nth-child(139) {
  animation-delay: 6.95s;
}
.contact .mast__text span:nth-child(140) {
  animation-delay: 7s;
}
.contact .mast__text span:nth-child(141) {
  animation-delay: 7.05s;
}
.contact .mast__text span:nth-child(142) {
  animation-delay: 7.1s;
}
.contact .mast__text span:nth-child(143) {
  animation-delay: 7.15s;
}
.contact .mast__text span:nth-child(144) {
  animation-delay: 7.2s;
}
.contact .mast__text span:nth-child(145) {
  animation-delay: 7.25s;
}
.contact .mast__text span:nth-child(146) {
  animation-delay: 7.3s;
}
.contact .mast__text span:nth-child(147) {
  animation-delay: 7.35s;
}
.contact .mast__text span:nth-child(148) {
  animation-delay: 7.4s;
}
.contact .mast__text span:nth-child(149) {
  animation-delay: 7.45s;
}
.contact .mast__text span:nth-child(150) {
  animation-delay: 7.5s;
}
.contact .mast__text span:nth-child(151) {
  animation-delay: 7.55s;
}
.contact .mast__text span:nth-child(152) {
  animation-delay: 7.6s;
}
.contact .mast__text span:nth-child(153) {
  animation-delay: 7.65s;
}
.contact .mast__text span:nth-child(154) {
  animation-delay: 7.7s;
}
.contact .mast__text span:nth-child(155) {
  animation-delay: 7.75s;
}
.contact .mast__text span:nth-child(156) {
  animation-delay: 7.8s;
}
.contact .mast__text span:nth-child(157) {
  animation-delay: 7.85s;
}
.contact .mast__text span:nth-child(158) {
  animation-delay: 7.9s;
}
.contact .mast__text span:nth-child(159) {
  animation-delay: 7.95s;
}
.contact .mast__text span:nth-child(160) {
  animation-delay: 8s;
}
.contact .mast__text span:nth-child(161) {
  animation-delay: 8.05s;
}
.contact .mast__text span:nth-child(162) {
  animation-delay: 8.1s;
}
.contact .mast__text span:nth-child(163) {
  animation-delay: 8.15s;
}
.contact .mast__text span:nth-child(164) {
  animation-delay: 8.2s;
}
.contact .mast__text span:nth-child(165) {
  animation-delay: 8.25s;
}
.contact .mast__text span:nth-child(166) {
  animation-delay: 8.3s;
}
.contact .mast__text span:nth-child(167) {
  animation-delay: 8.35s;
}
.contact .mast__text span:nth-child(168) {
  animation-delay: 8.4s;
}
.contact .mast__text span:nth-child(169) {
  animation-delay: 8.45s;
}
.contact .mast__text span:nth-child(170) {
  animation-delay: 8.5s;
}
.contact .mast__text span:nth-child(171) {
  animation-delay: 8.55s;
}
.contact .mast__text span:nth-child(172) {
  animation-delay: 8.6s;
}
.contact .mast__text span:nth-child(173) {
  animation-delay: 8.65s;
}
.contact .mast__text span:nth-child(174) {
  animation-delay: 8.7s;
}
.contact .mast__text span:nth-child(175) {
  animation-delay: 8.75s;
}
.contact .mast__text span:nth-child(176) {
  animation-delay: 8.8s;
}
.contact .mast__text span:nth-child(177) {
  animation-delay: 8.85s;
}
.contact .mast__text span:nth-child(178) {
  animation-delay: 8.9s;
}
.contact .mast__text span:nth-child(179) {
  animation-delay: 8.95s;
}
.contact .mast__text span:nth-child(180) {
  animation-delay: 9s;
}
.contact .mast__link {
  font-weight: 300;
  animation: txt-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
}
.contact .mast__link-list {
  margin-bottom: 1rem;
}
.contact .mast__link-list a {
  display: inline-block;
  position: relative;
  margin-right: 1.4rem;
}
.contact .mast__link-list a:not(:last-child)::after {
  content: " ";
  display: inline-block;
  vertical-align: 0;
  margin-left: 1.4rem;
  width: 1px;
  height: 12px;
  background: rgba(255, 255, 255, 0.4);
}
.contact .mast__link-list a:hover {
  color: #00ffb4;
}

.sep {
  border: 0;
  width: 3em;
  height: 1px;
  margin: 1em auto;
  background-color: rgba(255, 255, 255, 0.4);
}

.mast__text span.highlight {
  animation: letter-glow 0.7s 0s ease both;
}

/*effect*/
.effect {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  will-change: transform, transition, opacity;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade_in_up {
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  transform: translateY(0) !important;
}

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
@keyframes letter-glow {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
  }
  66% {
    opacity: 1;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
  }
  77% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
  }
}
@keyframes fade-frames {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scale-frames {
  0% {
    transform: scale3d(0.4, 0.4, 1);
  }
  50% {
    transform: scale3d(2.2, 2.2, 1);
  }
  100% {
    transform: scale3d(0.4, 0.4, 1);
  }
}
/* =   Media queries ------------------------------------------------------------*/
@media screen and (max-width: 1366px) {
  .work__content {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .work__content {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1024px) {
  .work__content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 980px) {
  .work__content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  header {
    padding: 2rem;
  }
  .main__title {
    bottom: unset;
    top: 40%;
  }
  .main__title-inner {
    font-size: 9vw;
    line-height: 1.4;
  }
  .main__title-lower {
    padding-left: 3rem;
  }
  nav {
    right: 2rem;
    bottom: 2rem;
  }
  nav a {
    font-size: 2rem;
  }
  .work__content {
    grid-template-columns: repeat(2, 1fr);
  }
  .about {
    height: auto;
  }
  .about__content {
    flex-direction: column;
  }
  .about__content-image {
    width: 100%;
    height: 50vh;
  }
  .about__content-desc {
    width: 100%;
    height: auto;
    padding: 2.2rem;
  }
  .about__content-desc h3 {
    font-size: 3.2rem;
  }
  .about__content-item strong {
    font-size: 1.6rem;
  }
  .contact .mast__text {
    font-size: 2.8rem;
    white-space: pre-line;
  }
  .pf__intro {
    padding: 4rem 0 0;
    flex-direction: column-reverse;
  }
  .pf__intro-img {
    width: 100%;
    text-align: center;
  }
  .pf__intro-txt {
    width: 100%;
    padding: 3rem 2rem 6rem;
  }
  .pf__intro-txt span {
    font-size: 1.6rem;
  }
  .pf__intro-txt h3 {
    font-size: 3.6rem;
  }
  .pf__intro-txt p {
    font-size: 2.4rem;
    margin-bottom: 3rem;
  }
  .pf__content {
    padding: 0;
  }
  .pf__content-about {
    padding: 0 2rem;
    margin-bottom: 6rem;
  }
  .pf__content-about-desc {
    font-size: 1.8rem;
  }
  .pf__content-num {
    font-size: 8rem;
    margin-bottom: 1.4rem;
  }
  .pf__content-num::after {
    bottom: 14px;
    left: 6.3rem;
    font-size: 2.4rem;
  }
  .pf__content-main {
    padding: 0 2rem 6rem;
  }
}
@media screen and (max-width: 640px) {
  .work__content {
    grid-template-columns: repeat(1, 1fr);
  }
  .btn_goback, #popIframe .btn_close {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 480px) {
  .about__content-item {
    margin-bottom: 2.8rem;
  }
  .about__content-edu li, .about__content-work li {
    flex-direction: column;
    align-items: flex-start;
  }
  .about__content-edu li .col-1,
  .about__content-edu li .col-2, .about__content-work li .col-1,
  .about__content-work li .col-2 {
    width: 100%;
    margin-top: 0.5rem;
  }
  .about__content-edu li .col-2::after, .about__content-work li .col-2::after {
    content: attr(data-additional);
    display: block;
    margin-top: 0.2rem;
  }
  .about__content-edu li .col-3, .about__content-work li .col-3 {
    display: none;
  }
}